#contato {
  max-width: 540px;
  box-sizing: border-box;
  border: 1px solid black;
  margin: auto;
  padding: 10px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select,
button {
  font-family: inherit;
}

span {
  white-space: nowrap;
}

.linha {
  display: flex;
  flex-direction: column;

  width: 100%;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}

#phone {
  appearance: textfield;
}

label,
legend {
  font-size: 0.75em;
  font-weight: 700;
  color: #4a4a4a;
}

fieldset {
  width: 100%;
}

fieldset input,
fieldset label {
  cursor: pointer;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

input {
  min-height: 1.3em;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 14px;
  width: 100%;
}

button {
  padding: 0.2em 2.5em;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid;
  font-weight: 700;
  background-color: lightcyan;
}

button:hover {
  background-color: lightgray;
}

button[type="submit"] {
  color: darkslateblue;
  border-color: darkslateblue;
}

button[type="reset"] {
  color: darkslategray;
  border-color: darkslategray;
}